* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(100, 94, 94);
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 1vmin;
}

#board {
    display: grid;
    background-color: rgb(236, 199, 103);
    grid-template-rows: repeat(6, 10vmin);
    grid-template-columns: repeat(7, 10vmin);
    gap: 1vmin;
    height: 67vmin;
    width: 77vmin;
    justify-content: center;
    border-radius: 5%;
}

#board > div {
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    align-content: center;
}

#column-buttons > button {
  height: 4vmin;
  width: 8vmin;
  margin: .8vmin;
  font-size: 1.25vmin;
  text-align:center;
  vertical-align: middle;
  color: green;
  border-radius: 20%;
}

#column-buttons {
    display: grid;
    background-color: rgb(236, 199, 103);
    grid-template-rows: 10vmin;
    grid-template-columns: repeat(7, 10vmin);
    width: 77vmin;
    gap: 1vmin;    
}